autodrive_devkit/ws/build/
autodrive_devkit/ws/install/
autodrive_devkit/ws/log/
autodrive_devkit/ws/src/f1tenth_dynsim/models/PistaMonza/meshes/Pista2.dae
autodrive_devkit/ws/src/f1tenth_dynsim/models/PistaMonza/meshes/Pista3.dae
